[DB]
Host=""
Port=5432
User=""
Password=""
Database=""
MaxIdleConnections=10
MaxOpenConnections=10

[Server]
Port=51000

[Integrations]
Beer=["untappd_web"]

[Auth]
SecretKey=""
Audience=""
Domain=""
